<section id="header">
    <div class="main-bar">
        <div class="logo">
            <p>Revive.</p>
        </div>
        <!-- <div class="search">
        <input type="search" placeholder="Search products" />
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div> -->
        <div class="reg-bar">
            <div class="register">
                <p>
                    <a routerLink="/signup" id="signupLink" *ngIf="!authenticationService.loggedIn()">Sign In&nbsp; |
                        &nbsp;</a>
                    <a routerLink="/login" id="loginLink" *ngIf="!authenticationService.loggedIn()">Login</a>
                    <a routerLink="/home" id="loginLink" *ngIf="authenticationService.loggedIn()"
                        (click)="onLogout()">Logout</a>

                </p>
            </div>
            <div class="cart">
                <a class="wishlist-link" routerLink="/wishlist"><i class="fa-sharp fa-solid fa-heart"></i></a>
                <a class="cart-link" routerLink="/cart/cartProducts">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <a class="orders-link" routerLink="/orders" *ngIf="authenticationService.loggedIn() &&  !authenticationService.isAuthenticated()">
                    Orders
                </a>
            </div>
        </div>

    </div>
    <div id="header2">
        <div class="nav-bar">
            <div class="nav">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                <a class="nav-link" routerLink="/productCategory/skincare" routerLinkActive="active">Skin Care</a>
                <a class="nav-link" routerLink="/productCategory/cosmetics" routerLinkActive="active">Cosmetics</a>
                <a class="nav-link" routerLink="/productCategory/haircare" routerLinkActive="active">Hair Care</a>
                <a class="nav-link" routerLink="/productCategory/bathnbody" routerLinkActive="active">Bath & Body</a>
                <a class="nav-link" routerLink="/productCategory/fragrance" routerLinkActive="active">Fragrance</a>
                <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                <a class="nav-link" routerLink="/blogs-page" routerLinkActive="active">Blog</a>
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
            </div>

        </div>
        <div class="admin">
            <a class="nav-link" *ngIf="authenticationService.isAuthenticated()" routerLink="/admin/admin-products" id="adminLink"
                routerLinkActive="active">Admin</a>
        </div>
    </div>


</section>