<footer>
    <div class="footer-content">
        <!-- <p>Receive exclusive promotions, private sales and news</p>
        <input type="email" placeholder="Enter your email" /> -->
        <ul class="nav-list">
            <a href="#">
                <li>Help</li>
            </a>
            <a routerLink="/about" id="aboutLink">
                <li>About Us</li>
            </a>
            <a href="#">
                <li>Contact</li>
            </a>
            <a href="#">
                <li>Register</li>
            </a>
            <a href="#">
                <li>Our Brands</li>
            </a>
            <a href="#">
                <li>Terms & Conditions</li>
            </a>
        </ul>
        <div class="icons">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <p class="copyright">&copy; copyrights Revive 2023 | All rights reserved</p>
    </div>
</footer>