<section id="about">
    <div class="headerContainer">
        <h1>Revive: Your Path to Radiant Beauty</h1>
        <div class="main-content">
            <p>Welcome to Revive, your premier destination for skincare products and cosmetics that unlock the secret to radiant beauty. At Revive, we believe that beauty should be celebrated, embraced, and effortlessly achieved by everyone. Our mission is to empower you to look and feel your best, enhancing your natural allure with our carefully curated range of products.</p>
        </div>
        <!-- [ngStyle]="{ background: 'url(assets/images/background.jpg)' }" -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Our Story</h1>
            <p>Revive was born out of a passion for skincare and cosmetics. Our founders, a team of dedicated beauty enthusiasts, set out on a mission to redefine beauty standards. We understood that true beauty is about confidence, self-expression, and self-care. Thus, Revive was created as a haven for those who seek the perfect balance of health and glamour.</p>

        </div>
        <div class="col-md-6">

        </div>
    </div>
</section>
<section id="why">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <h1>Why Choose Us?</h1>
            <ul>
                <li><span>Quality Assurance: </span>Our products undergo rigorous quality control to meet the highest industry standards, ensuring safety and effectiveness.</li>
                <li><span>Innovation: </span>We stay ahead of the curve by continually researching and incorporating the latest skincare advancements.</li>
                <li><span>Diversity and Inclusivity: </span>Beauty knows no bounds, and neither do we. Revive offers a wide range of products suitable for all skin types and tones.</li>
                <li><span>Cruelty-Free: </span>We are proud to be a cruelty-free brand, committed to animal welfare and ethical practices.</li>
                <li><span>Customer Satisfaction: </span>Your satisfaction is our priority. We offer exceptional customer support and a hassle-free shopping experience.</li>
            </ul>
        </div>
    </div>

</section>