<div class="container_main">
    <div class="card-body">
        <div class="row">
            <div class="prod-card">
                <div class="prod-img">
                    <img [attr.src]="cart?.product.image" alt="" class="imageView">
                </div>

                <div class="prod-name">
                    <p>{{ cart.product.productName }}</p>
                    <p class="brand">{{ cart.product.brand }}</p>
                </div>
                
                <div class="prod-qty">
                    
                    <div><button (click)="decrementQuantity(index)">-</button></div>
                    <div>
                        <td>{{ cart.cartQuantity }} </td>
                    </div>
                    <div><button (click)="incrementQuantity(index)">+</button></div>

                </div>

                <!-- <div class="prod-price">
                    <p>Rs.{{(cart.product.price).toFixed(2)}}</p>
                </div> -->
                <div class="prod-tot-price">
                    <p>Rs.{{totPrice}}.00</p>
                </div>


                <div class="prod-icons">

                    <span><i class="fa-solid fa-trash" (click)="onRemoveCartProduct(index)"></i></span>
                </div>
            </div>
        </div>
        

    </div>

</div>