.containersm{
    width: 100%;
    padding: 5%;
}
h1{
    font-family: "Syne";
    padding-bottom: 40px;
}
.headerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContainer img{
    height: auto;
    width: 400px;
}