<div class="cartListHolder">

    <div class="container">
        <h1 *ngIf="count!==0">My Cart</h1>
        <hr *ngIf="count!==0">
        <div class="empty-img" *ngIf="count==0" >
            <img id="emptyCart" [src]="emptycartimg" class="img-fluid">
         
            

        </div>
        <app-cart-item class="cartItem" *ngFor="let item of cartList" [cart]="item" [index]="item.cartId"></app-cart-item>

        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-2">
                <h6 *ngIf="count!==0">Total</h6>
            </div>
            <div class="col-md-2">
                <h6 *ngIf="count!==0">Rs.{{totPrice}}.00</h6>
            </div>
            <div class="col-md-1"></div>


        </div>
        <div class="btncheckout">
                <button *ngIf="count!==0" class="btn btn-primary" data-toggle="modal" data-target="#payment"
                id="paymentButton"><i class="fa fa-money" aria-hidden="true"></i>&nbsp; Checkout</button>
                <button class="btn btn-primary" routerLink="/home">Back to Shopping</button>
                <button *ngIf="count==0" class="btn btn-primary" routerLink="/orders" >Check Your orders</button>
        </div>
    </div>

</div>
<app-payment-form class="modal fade" id="payment" role="dialog" aria-labelledby="paymentmodal" [totPrice]="totPrice" aria-hidden="true"></app-payment-form>
<!-- <app-payment-form class="modal fade" id="payment" [totPrice]="totPrice" role="dialog"></app-payment-form> -->