<div class="product-item">
    <div class="img-div">
        <img [attr.src]="productElement.image" class="prod-img" alt="" />
        <div class="overlay">
            <p> <a (click)="quickView(productElement.productId)" id="quickviewLink">quick view</a> |
                <a><i class="fa-solid fa-cart-plus"  (click)="onAddToCart(productElement.productId, productElement.price)"></i></a>

                <span style="position: absolute;" id="notFavourite" *ngIf="!isFavourite"><i class="heart fa fa-heart"
                        (click)="onAddRemoveWishlist(productElement.productId)"></i></span>
                <span style="position: absolute;" id="favourite" *ngIf="isFavourite"> 
                    <i class="heart fa fa-heart" (click)="onAddRemoveWishlist(productElement.productId)"></i>
                </span>
            </p>
        </div>
    </div>
    <p class="name">{{ productElement.productName }} </p>
    <p class="brand">{{ productElement.brand}}</p>
    <div class="star">
        <ng-rating-bar class="rating"
    [(value)]="average" 
    [ratingCount]="5" 
    [disabled] = true
  ></ng-rating-bar> 
    </div>
     
    <p class="price">{{ productElement.price | currency : "Rs." }}</p> 
 

   <!-- <button class="viewratesreview"> View Rates & Review</button> -->


</div>