<div class="main-container">
    <div class="card-body">
        <!-- <div class="container">
                <span id="remove" type="button" (click)="onRemoveWishlistItem(wishlist.product.productId)"><i
                        class="fa fa-times"></i></span>
            </div> -->
        <div class="prod-card">
            <div class="prod-img">
                <img [attr.src]="wishlist?.product.image" alt="" class="imageView">
            </div>

            <div class="prod-name">
                <p>{{ wishlist.product.productName }}</p>
            </div>
            <div class="prod-price">
                <p>Rs.{{(wishlist.product.price).toFixed(2)}}</p>

            </div>
            <div class="cartbtn">
                <button class="btn btn-primary" (click)="onAddToCart(wishlist.product.productId,wishlist.product.price)">Add to Cart</button>
            </div>
            <div class="prod-icons">

                <span id="remove" type="button" (click)="onRemoveWishlistItem(wishlist.product.productId)"><i
                        class="fa-solid fa-trash"></i></span>
            </div>




        </div>

    </div>
</div>