.card{
    width: 100%;
}
 .container-sm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .containerImage{
     height: 120px;
    width: 100px;
 }
img.imgContainer{
    height: 120px;
    width: 100px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: "DM Sans", serif;
}
.container p{
    padding-right: 40px;
}
.card-name{
    width: 180px;
}
button{
  font-weight: 600;
  color: #67807A;
  border: 2px solid #67807A;
  border-radius: 25px;
  padding: 7px 18px;
}
button:hover{
    color: #67807A;
  border: 2px solid #67807A;
}
.btn-default:focus{
    outline: none;
}