<p><div style="cursor: pointer; width: 470px;" class="card clearfix">
    <div class="card-body">
        <div class="id">
            <p>Cart Item</p><h1>#{{cartOrderElement.cartOrderId}}</h1>
          </div>
        <div class="containerImage">
            <img [attr.src]="cartOrderElement?.cart.product.image" class="imgContainer">
        </div>
        
        
            <div class="container">

                <!-- <a type="button" data-toggle="modal" data-target="#rate" *ngIf="cartOrderElement.orders.status==='Completed'"><u>Rate Me</u></a> -->
                <p class="card-text">Address: {{cartOrderElement.orders.address}}</p>
                <p class="card-text">Quantity: {{cartOrderElement.cart.cartQuantity}}</p>
                <p class="card-text">Rs.{{cartOrderElement.cart.totalPrice}}.00 </p> 

                <!-- <p class="card-text">Rs.{{cartOrderElement.orders.total}}.00 </p>  -->
            </div>

           

            <div class="qtypricesize">
                <p class="card-text">Rs.{{cartOrderElement.orders.total}}.00 </p> 

                <!-- <p class="card-text">{{cartOrderElement.cart.size}} x {{cartOrderElement.cart.quantity}} </p> -->
                <!-- <p class="card-text">Rs.{{cartOrderElement.orders.total}} </p> -->
            </div>
     
        
    </div>
</div>
