<section id="quick-view">
    <div class="container-fluid">
      <div class="backbtn">
        <button type="button" id="close" class="close" data-dismiss="modal" (click)="onClose()">
          <i class="fa-solid fa-arrow-left-long"></i>
        </button>
      </div>
  
      <div class="row"  *ngIf="product; else loadingTemplate">
        <div class="col-md-5 image-container">
          <img src={{product.image}} alt="" />
        </div>
  
        <div class="col-md-7 contents">
          <div class="prod-name">
            <h1>{{ product.productName }} </h1>
          </div>
          <div class="brand">
            <p>{{product.brand}}</p>
          </div>
          <hr>
<!-- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto nobis totam beatae necessitatibus vero consequatur at eaque odit ipsum? Ad veniam voluptatum a maiores dolor id, culpa nihil dignissimos laboriosam eaque harum, nesciunt quia quibusdam. -->

          <div class="prod-desc">
            <p>{{product.description}}</p>
          </div>
          <div class="rating">
            <ng-rating-bar
          [value]="average"
          [ratingCount]="5"
          [disabled]="true"
          ></ng-rating-bar>
          </div>
          
          <div class="prod-quantity">
            <input class="form-control" id="quantityId" type="number" #selectedQuantity value="1" required min="1" >
          </div>
          <div class="prod-price">
            <p>{{ product.price | currency : "Rs." }}</p>
          </div>
         
  
         
          <div class="buttons">
            <button class="btn btn-default" (click)="onAddToCart()">Add to Cart</button>
            <a routerLinkActive="active" class="cart-link" routerLink="/cart/cartProducts">
              <button class="btn btn-default" *ngIf="authenticationService.loggedIn()">View Cart</button>
            </a>
            <!-- <button class="btn btn-default ratesReviews" (click)="onRatesReviews(productId)" >Rates & Reviews</button> -->

          </div>
        
        </div>
      </div>
      <ng-template class="loading" #loadingTemplate>
        <!-- Handle loading state or display an appropriate message -->
        <img [src]="loading" alt="">
        <p>Please check your Internet connection</p>
      </ng-template>
    </div>
  </section>
  <section id="ratesReviews">
    <app-rate-list></app-rate-list>

  </section>