<section id="home" [ngStyle]="{ background: 'url(assets/images/homepic.png)' }">
    <h2>Unleash</h2>
    <h3>Your skin's</h3>
    <h1>Radiance</h1>
    <button class="btn btn-default">Shop Now</button>
</section>
<section id="categories">
    <div class="category-container" [ngStyle]="{ background: 'url(assets/images/categories/cat1.jpg)' }">
        <div class="category-card">
            <h3>Glam Up</h3>
        </div>
    </div>
    <div class="category-container" [ngStyle]="{ background: 'url(assets/images/categories/cat-2.jpg)' }">
        <div class="category-card">
            <h3>Healthy<br>Skin</h3>
        </div>
    </div>
    <div class="category-container" [ngStyle]="{ background: 'url(assets/images/categories/cat1.jpg)' }">
        <div class="category-card">
            <h3>Voluminous<br>Hair</h3>
        </div>
    </div>
    <div class="category-container" [ngStyle]="{ background: 'url(assets/images/categories/cat1.jpg)' }">
        <div class="category-card">
            <h3>Fragrance</h3>
        </div>
    </div>
    <div class="category-container" [ngStyle]="{ background: 'url(assets/images/categories/cat1.jpg)' }">
        <div class="category-card">
            <h3>Body<br>Lotions</h3>
        </div>
    </div>
</section>