<section id="home" [ngStyle]="{ background: 'url(assets/images/home1.png)' }">
    <h3>Unleash</h3>
    <h2>Your skin's</h2>
    <h1>Radiance</h1>
    <button class="btn btn-default">Shop Now</button>
</section>

<section id="features">
    <div class="card-container">
        <div class="card">
            <div class="feat-img">
                <img [src]="feature1" />
            </div>
            <p>Free Shipping</p>
        </div>
        <div class="card">
            <div class="feat-img">
                <img [src]="feature2" />
            </div>
            <p>24/7 Support</p>
        </div>
        <div class="card">
            <div class="feat-img">
                <img [src]="feature3" />
            </div>
            <p>Offers & Promotions</p>
        </div>
        <div class="card">
            <div class="feat-img">
                <img [src]="feature4" />
            </div>
            <p>Save Money</p>
        </div>
        <div class="card">
            <div class="feat-img">
                <img [src]="feature5" />
            </div>
            <p>Happy Shopping</p>
        </div>
    </div>

</section>

<section id="categories">
    <div class="category-container" [ngStyle]="{ background: 'url(assets/images/categories/cat1.png)' }">
        <div class="category-card" routerLink="/productCategory/cosmetics" routerLinkActive="active">
            <h3>Glam Up</h3>
        </div>
    </div>
    <div class="category-container" [ngStyle]="{ background: 'url(assets/images/categories/cat2.png)' }">
        <div class="category-card" routerLink="/productCategory/skincare" routerLinkActive="active">
            <h3>Healthy<br>Skin</h3>
        </div>
    </div>
    <div class="category-container" [ngStyle]="{ background: 'url(assets/images/categories/cat3.png)' }">
        <div class="category-card" routerLink="/productCategory/haircare" routerLinkActive="active">
            <h3>Voluminous<br>Hair</h3>
        </div>
    </div>
    <div class="category-container" [ngStyle]="{ background: 'url(assets/images/categories/cat4.png)' }">
        <div class="category-card" routerLink="/productCategory/fragrance" routerLinkActive="active">
            <h3>Fragrance</h3>
        </div>
    </div>
    <div class="category-container" [ngStyle]="{ background: 'url(assets/images/categories/cat5.png)' }">
        <div class="category-card" routerLink="/productCategory/bathnbody" routerLinkActive="active">
            <h3>Body<br>Lotions</h3>
        </div>
    </div>
</section>

<!-- <section id="cosmetics">
    <div class="content-section implementation carousel-demo">
        <div class="card">
            <p-carousel [value]="productElements" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1"
            [circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
                <ng-template let-productElement pTemplate="item">
                  <div class="item card">
                    
                    <div class="img-div">
                        <img [attr.src]="productElement.image" class="prod-img" alt="" />
                        <div class="overlay">
                            <p> <a (click)="quickView(productElement.productId)" id="quickviewLink">quick view</a> |
                                <a><i class="fa-solid fa-cart-plus"  (click)="onAddToCart(productElement.productId, productElement.price)"></i></a>
                
                                <span style="position: absolute;" id="notFavourite" *ngIf="!isFavourite"><i class="heart fa fa-heart"
                                        (click)="onAddRemoveWishlist(productElement.productId)"></i></span>
                                <span style="position: absolute;" id="favourite" *ngIf="isFavourite"> 
                                    <i class="heart fa fa-heart" (click)="onAddRemoveWishlist(productElement.productId)"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <p class="name">{{ productElement.productName }} </p>
                    <p class="brand">{{ productElement.brand}}</p>
                    <p class="price">{{ productElement.price | currency : "Rs." }}</p> 
                  </div>
                </ng-template>
            </p-carousel>
        </div>
      </div>
</section> -->

<section id="banner" [ngStyle]="{ background: 'url(assets/images/banner1.png)' }">
    <div class="banner-container">
        <div class="banner-content">
            <div class="supscript">
                <h1>R</h1>
            </div>
            <div class="content">
                <h3>ejuvenate</h3>
                <h3>eplenish</h3>
                <h3 class="rev">evive</h3>
            </div>
        </div>
        <button class="btn btn-default">Shop Now</button>
    </div>

</section>

<!-- <img [src]="catproductList.image" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{image.random}}</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div> -->
