<section id="cart-order">
    <div class="container-fluid">
        <div class="row">
            <div class="div1">
                <div class="col-md-4 id align-items-center d-flex">
                    <p>Order Id</p>
                    <h1>{{custOrderElement.ordersId}}</h1>
                </div>
            </div>
           
            <div class="col-md-7 container">
                <p class="card-date">{{custOrderElement.date}}</p>
               
                <h3 class="card-title">Username: {{custOrderElement.user.username}}</h3>
                <p class="card-text">Address: {{custOrderElement.address}}</p>
            </div>
            <div class="col-md-1 d-flex justify-content-center view">
                <span style="cursor: pointer;" id="info" type="button" (click)="onOrderDetail(custOrderElement.ordersId)" *ngIf="!authenticationService.isAuthenticated()"><i class="fa fa-info"></i></span>
                <button class="btn btn-default view-order" (click)="onOrderDetail(custOrderElement.ordersId)" *ngIf="authenticationService.isAuthenticated()">View Order</button>
            </div>
           


        </div>
        
       
    </div>
</section>

