<section id='cat-prod-list'>
    <!-- <img [src]="Banner3" class="banner" alt="banner" /> -->
    <div class="prod-container">
        <app-category-product-item class="productElement" *ngFor="let product of catproductList"
            [productElement]="product"></app-category-product-item>
    </div>
    <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, architecto obcaecati ab enim numquam commodi
    pariatur corrupti, voluptatem beatae, rerum mollitia reiciendis optio temporibus maxime!  -->
</section>